html, body {
    background: #141E30;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Verdana;
    font-weight: 100;
  }

  .nav-container {
    display: flex;
    justify-content: center;
  }

  nav {
    background-color: white;
    z-index: 1000;
    align-items: center;
    padding: 10px 10px;
    border-radius: 50px;
    border-width: 5px;
    margin-top: 20px;
    position: fixed;
  }

  .links {
    text-decoration: none;
    color: #bbb;
    padding: 5px 10px;
    transition: color 0.3s ease;
  }
  
  .links:hover {
    color: black;
  }

  .links:active {
    color: black;
    background-color: #ddd;
    border-radius: 50px;
  }