html, body {
    background: #141E30;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Copperplate', fantasy;
    font-weight: 100;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #ADD8E6;
    z-index: 1000;
  }

  .links {
    color: #141E30;
    font-size: 2em;
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
  
  .links:hover {
    color: #FAF;
  }